<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Iniciar sesion</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="container">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <section>
        <div class="center"><br>
          <center><img src="imagenes/klassy-logo.png" height="" alt=""></center>
          <h3>Iniciar sesión</h3>
      
          <form method="post" >
      
            <div class="txt_field">
              <input type="text"  required>
              <span></span>
              <label>Usuario</label>
            </div>
      
            <div class="txt_field">
              <input type="password"  required>
              <span></span>
              <label>Contraseña</label>
            </div>
      
            <input type="submit" value="Iniciar sesión">
            <div class="signup_link">
              ¿No eres miembro? <a href="#">Registrate</a>
            </div>
      
          </form>
        </div>
  
      </section>
    </div>
  </div>

</body>

</html>
