<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Iniciar sesion</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="container">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <section>
        <div class="center"><br>
          <center><img src="imagenes/klassy-logo.png" height="" alt=""></center>
          <h3>Confirmación de compra</h3>
      
          <form method="post" action="/auth">
      
            <div class="txt_field">
              <input type="text" type="text" name="user" id="user" required>
              <span></span>
              <label>Nombre</label>
            </div>
      
            <div class="txt_field">
              <input type="password" type="text" name="pass" id="pass" required>
              <span></span>
              <label>Teléfono</label>
            </div>
      
            <input type="submit" value="Confirmar">
            <br><br>
            <input type="submit" value="Cancelar compra">
            <br><br><br>

      
          </form>
        </div>
  
      </section>
    </div>
  </div>

</body>

</html>