<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="resources/images/icono.png">
    <title>Inicio</title>
<!--
    
TemplateMo 558 Klassy Cafe

https://templatemo.com/tm-558-klassy-cafe

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="resources/css/font-awesome.css">

    <link rel="stylesheet" href="resources/css/templatemo-klassy-cafe.css">

    <link rel="stylesheet" href="resources/css/owl-carousel.css">

    <link rel="stylesheet" href="resources/css/lightbox.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/." class="logo">
                            <img src="resources/images/klassy-logo.png" align="klassy cafe html template">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/." class="active">Inicio</a></li>
                            <li class="scroll-to-section"><a href="/acerca">Acerca de nosotros</a></li>
                        <!-- 
                            <li class="submenu">
                                <a href="javascript:;">Drop Down</a>
                                <ul>
                                    <li><a href="#">Drop Down Page 1</a></li>
                                    <li><a href="#">Drop Down Page 2</a></li>
                                    <li><a href="#">Drop Down Page 3</a></li>
                                </ul>
                            </li>
                        -->
                            <li class="scroll-to-section"><a href="/menu">Menu</a></li>
                            <li class="scroll-to-section"><a href="/servicio">Servicios</a></li>
                            <!-- <li class=""><a rel="sponsored" href="https://templatemo.com" target="_blank">External URL</a></li> -->
                            <% if (login) { %>
                                <li class="scroll-to-section"><a href="logout">Cerrar sesión</a></li>
                            <% }else{ %>
                            <li class="scroll-to-section"><a href="login">Iniciar sesión</a></li>
                        <%}%>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="left-content">
                        <div class="inner-content">
                            <h4>Café Aura</h4>
                            <h6>La mejor experiencia</h6>
                            <div class="main-white-button scroll-to-section">
                                <% if (login) { %>
                                    <a href="/reservacion">Hacer reservación</a>
                                <% }else{ %>
                                    <a href="/login">Hacer reservación</a> 
                            <%}%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="main-banner header-text">
                        <div class="Modern-Slider">
                          <!-- Item -->
                          <div class="item">
                            <div class="img-fill">
                                <img src="resources/images/slide-01.jpg" alt="">
                            </div>
                          </div>
                          <!-- // Item -->
                          <!-- Item -->
                          <div class="item">
                            <div class="img-fill">
                                <img src="resources/images/slide-02.jpg" alt="">
                            </div>
                          </div>
                          <!-- // Item -->
                          <!-- Item -->
                          <div class="item">
                            <div class="img-fill">
                                <img src="resources/images/slide-03.jpg" alt="">
                            </div>
                          </div>
                          <!-- // Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->


    <!-- jQuery -->
    <script src="resources/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="resources/js/popper.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="resources/js/owl-carousel.js"></script>
    <script src="resources/js/accordions.js"></script>
    <script src="resources/js/datepicker.js"></script>
    <script src="resources/js/scrollreveal.min.js"></script>
    <script src="resources/js/waypoints.min.js"></script>
    <script src="resources/js/jquery.counterup.min.js"></script>
    <script src="resources/js/imgfix.min.js"></script> 
    <script src="resources/js/slick.js"></script> 
    <script src="resources/js/lightbox.js"></script> 
    <script src="resources/js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="resources/js/custom.js"></script>
    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>
  </body>
</html>